@charset "UTF-8";

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: transparent;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/

[class*=__container] {
  max-width: 76.875rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

@font-face {
  Font-Family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  Font-Family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-SemiBold.woff2") format("woff2"), url("../fonts/Inter-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  Font-Family: Jost;
  font-display: swap;
  src: url("../fonts/Jost-Bold.woff2") format("woff2"), url("../fonts/Jost-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  Font-Family: Jost;
  font-display: swap;
  src: url("../fonts/Jost-ExtraBold.woff2") format("woff2"), url("../fonts/Jost-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  Font-Family: Jost;
  font-display: swap;
  src: url("../fonts/Jost-Regular.woff2") format("woff2"), url("../fonts/Jost-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  Font-Family: Jost;
  font-display: swap;
  src: url("../fonts/Jost-SemiBold.woff2") format("woff2"), url("../fonts/Jost-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

.visually-hidden {
  position: fixed;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.run {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@-webkit-keyframes itemTranslate {
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes itemTranslate {
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
}

.title {
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.25;
}

.text {
  line-height: 1.4444444444;
}

.text--opacity {
  opacity: 0.7;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-weight: 700;
  font-size: 1.125rem;
  color: rgb(255, 255, 255);
  border-radius: 3.125rem;
  text-transform: capitalize;
  width: 100%;
  max-width: 11.0625rem;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.btn--orange {
  background-color: rgb(246, 151, 63);
}

.btn--red {
  background-color: rgb(239, 67, 88);
  max-width: 11.5rem;
}

._fly-image {
  position: fixed;
  z-index: 100;
  opacity: 1;
  -webkit-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}

._fly-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg] {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

[class*=-ibg] img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.header {
  width: 100%;
  min-height: 3.125rem;
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
}

.header._scroll .header__wrapper {
  padding: 0.375rem 0;
  background-color: #fde6d1;
}

.header__wrapper {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 1.625rem;
  padding-bottom: 1.625rem;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
}

.header__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 6.625rem;
          flex: 0 0 6.625rem;
  position: relative;
  z-index: 2;
}

.header__logo img {
  max-width: 100%;
  height: 100%;
  max-height: 1.625rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.header__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 2.25rem;
     -moz-column-gap: 2.25rem;
          column-gap: 2.25rem;
}

.menu__body._active {
  top: 0;
}

.menu__body._active::before {
  top: 0;
}

.menu__body._active .menu__item {
  -webkit-animation: itemTranslate 1s forwards;
          animation: itemTranslate 1s forwards;
}

.menu__body._active .menu__item:nth-child(1) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.menu__body._active .menu__item:nth-child(2) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.menu__body._active .menu__item:nth-child(3) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.menu__body._active .menu__item:nth-child(4) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.menu__body._active .menu__item:nth-child(5) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.menu__body._active .menu__item:nth-child(6) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.menu__link {
  font-size: 0.875rem;
  line-height: 1.4285714286;
  opacity: 0.7;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.search__btn {
  position: relative;
  z-index: 2;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.search__btn::before {
  font-size: 1.5rem;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.search__btn._active {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.search__body {
  position: fixed;
  z-index: 10;
  top: -100%;
  left: 0;
  width: 100%;
  background-color: rgb(214, 222, 226);
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.search__body._active {
  top: 0;
}

.search__container {
  padding-top: 3.125rem;
  padding-bottom: 0;
  -webkit-transition: all 0.5s ease 0.7s;
  -o-transition: all 0.5s ease 0.7s;
  transition: all 0.5s ease 0.7s;
}

.search__container._active {
  padding-bottom: 3.125rem;
}

.search__body-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.search__body-top:not(:last-child) {
  margin-bottom: 2.5rem;
}

.search__body-top-title {
  font-weight: 600;
  font-size: 2.25rem;
  line-height: 1.4444444444;
  color: rgb(0, 0, 0);
}

.search__body-top-close:before {
  font-size: 1.5rem;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.body-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
  -webkit-transition: all 0.5s ease 0.5s;
  -o-transition: all 0.5s ease 0.5s;
  transition: all 0.5s ease 0.5s;
  -webkit-transform: translate(0, -100%);
      -ms-transform: translate(0, -100%);
          transform: translate(0, -100%);
  position: relative;
  z-index: -1;
}

.body-form._active {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  z-index: auto;
}

.body-form__input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  min-height: 3.25rem;
  background-color: transparent;
  font-size: 2.25rem;
  padding-right: 0.9375rem;
  border-bottom: 0.0625rem solid rgb(0, 0, 0);
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.body-form__input::-webkit-input-placeholder {
  font-size: 2.25rem;
  color: rgb(246, 151, 63);
}

.body-form__input::-moz-placeholder {
  font-size: 2.25rem;
  color: rgb(246, 151, 63);
}

.body-form__input:-ms-input-placeholder {
  font-size: 2.25rem;
  color: rgb(246, 151, 63);
}

.body-form__input::-ms-input-placeholder {
  font-size: 2.25rem;
  color: rgb(246, 151, 63);
}

.body-form__input::placeholder {
  font-size: 2.25rem;
  color: rgb(246, 151, 63);
}

.body-form__input:focus {
  background-color: rgba(246, 151, 63, 0.1);
  border-radius: 0.625rem 0 0 0.625rem;
  padding-left: 0.9375rem;
  border: none;
}

.body-form__input:focus ~ .body-form__btn {
  background-color: rgba(246, 151, 63, 0.1);
  border-radius: 0 0.625rem 0.625rem 0;
  border-bottom: none;
}

.body-form__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1.5rem;
          flex: 0 0 1.5rem;
  overflow: hidden;
  min-height: 3.3rem;
  border-bottom: 0.0625rem solid rgb(0, 0, 0);
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.body-form__btn::before {
  font-size: 1.5rem;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.body-form__btn:focus::before {
  color: rgb(246, 151, 63);
}

.basket__icon {
  position: relative;
  z-index: 2;
}

.basket__icon::before {
  font-size: 1.5rem;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.basket__quantity {
  position: absolute;
  right: -0.625rem;
  top: -0.3125rem;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 0.9375rem;
  height: 0.9375rem;
  border-radius: 50%;
  background-color: rgb(246, 151, 63);
  font-size: 0.75rem;
  color: rgb(255, 255, 255);
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.basket__quantity._active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.body-basket {
  position: fixed;
  z-index: 100;
  top: -100%;
  right: 0;
  min-width: 23.75rem;
  padding: 1.375rem;
  background-color: rgb(255, 255, 255);
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  overflow: auto;
  max-height: 100%;
}

.body-basket._active {
  top: 0;
}

.body-basket__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0.9375rem;
}

.body-basket__row:not(:last-child) {
  margin-bottom: 0.625rem;
}

.body-basket__caption {
  font-weight: 600;
  line-height: 1.4444444444;
}

.body-basket__close {
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.body-basket__close::before {
  font-size: 1rem;
}

.body-basket__list {
  border-top: 0.0625rem solid rgb(29, 31, 35);
  border-bottom: 0.0625rem solid rgb(29, 31, 35);
  padding: 1.875rem 0;
}

.body-basket__list:not(:last-child) {
  margin-bottom: 1rem;
}

.body-basket__item:not(:last-child) {
  margin-bottom: 1.25rem;
}

.body-basket__total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 600;
  line-height: 1.4444444444;
}

.body-basket__total:not(:last-child) {
  margin-bottom: 2.5rem;
}

.body-basket__btn {
  margin: 0 auto;
  margin-bottom: 1.875rem;
  max-width: 18.75rem;
  border-radius: 0.625rem;
}

.body-basket__info {
  display: block;
  text-align: center;
  font-size: 1rem;
  color: red;
}

.item-basket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0.625rem;
}

.item-basket__image {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 3.75rem;
          flex: 0 0 3.75rem;
  height: 3.75rem;
}

.item-basket__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.item-basket__box {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.item-basket__subject {
  font-weight: 600;
  line-height: 1.4444444444;
}

.item-basket__caption {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.4375;
  color: rgb(141, 141, 141);
}

.item-basket__quantity {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1.5625rem;
          flex: 0 0 1.5625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 1.5625rem;
  border-radius: 0.3125rem;
  padding: 0.0625rem;
  border: 0.125rem solid rgb(246, 151, 63);
  font-size: 0.875rem;
}

.item-basket__price {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 2.8125rem;
          flex: 0 0 2.8125rem;
  font-weight: 600;
  line-height: 1.4444444444;
}

.item-basket__delete {
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.item-basket__delete::before {
  font-size: 0.75rem;
}

.header__burger {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1.5rem;
          flex: 0 0 1.5rem;
  height: 1.375rem;
  position: relative;
  z-index: 5;
  margin-left: 1.625rem;
}

.header__burger::before,
.header__burger-line,
.header__burger::after {
  content: "";
  width: 100%;
  height: 9.0909090909%;
  background: rgb(29, 31, 35);
  position: absolute;
}

.header__burger::before {
  top: 0;
  left: 0;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__burger._active::before {
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(45deg);
      -ms-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__burger._active::after {
  bottom: 50%;
  -webkit-transform: translateY(50%) rotate(-45deg);
      -ms-transform: translateY(50%) rotate(-45deg);
          transform: translateY(50%) rotate(-45deg);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__burger::after {
  bottom: 0;
  left: 0;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__burger-line {
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.header__burger._active .header__burger-line {
  opacity: 0;
  visibility: hidden;
}

[class*=_icon-]:before,
[class*=_icon-] :after {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before,
[class*=_icon-] :after {
  display: inline-block;
}

._icon-close:before {
  content: "\e905";
}

._icon-arrow:before {
  content: "\e900";
}

._icon-arrow-small:before {
  content: "\e901";
}

._icon-basket:before {
  content: "\e902";
}

._icon-plus:before {
  content: "\e903";
}

._icon-search:before {
  content: "\e904";
}

.footer {
  padding-top: 2.8125rem;
  padding-bottom: 2.8125rem;
  color: rgb(255, 255, 255);
  background-color: rgb(29, 31, 35);
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0.9375rem;
}

.footer__logo {
  width: 6.625rem;
  position: relative;
  z-index: 2;
}

.footer__logo img {
  max-width: 100%;
  height: 100%;
  max-height: 1.625rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer__rights {
  font-size: 1rem;
  line-height: 2.375;
}

.menu-footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 2.8125rem;
     -moz-column-gap: 2.8125rem;
          column-gap: 2.8125rem;
  row-gap: 0.625rem;
}

.menu-footer__item {
  color: rgb(255, 255, 255);
}

.menu-footer__link {
  line-height: 1.4444444444;
}

body {
  font-family: Jost;
  font-weight: 400;
  font-size: 1.125rem;
  background-color: rgb(255, 255, 255);
  color: rgb(29, 31, 35);
}

body._lock {
  overflow: hidden;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.page__offer {
  padding-bottom: 3.125rem;
}

.page__collections {
  padding-top: 6.25rem;
  padding-bottom: 3.4375rem;
}

.page__what {
  padding-top: 4.375rem;
  padding-bottom: 4.375rem;
}

.page__contact {
  padding-top: 6.25rem;
  padding-bottom: 6.25rem;
}

.offer {
  position: relative;
}

.offer__bg-ibg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 65.6%;
  z-index: -1;
}

.offer__container {
  padding-top: 4.6875rem;
}

.body-offer {
  text-align: center;
  margin: 0 auto;
  max-width: 40.3125rem;
  padding-top: 7.5rem;
  padding-top: 7.5rem;
}

.body-offer:not(:last-child) {
  margin-bottom: 1.8125rem;
}

.body-offer__title:not(:last-child) {
  margin-bottom: 0.625rem;
}

.body-offer__title span {
  color: rgb(246, 151, 63);
}

.body-offer__text {
  max-width: 25.3125rem;
  margin-right: auto;
  margin-left: auto;
}

.body-offer__text:not(:last-child) {
  margin-bottom: 1.25rem;
}

.body-offer__btn {
  margin: 0 auto;
}

.products__slider {
  padding: 0.9375rem;
  margin: 0 -0.9375rem;
}

.item-products {
  background-color: transparent;
  -webkit-perspective: 12.5rem;
          perspective: 12.5rem;
}

.item-products__bottom {
  background-color: rgb(255, 255, 255);
  padding-bottom: 3.625rem;
  padding-left: 1.3125rem;
  padding-right: 1.3125rem;
  padding-top: 0.875rem;
  -webkit-box-shadow: 0rem 0rem 0.3125rem rgba(246, 151, 63, 0.4);
          box-shadow: 0rem 0rem 0.3125rem rgba(246, 151, 63, 0.4);
  border-radius: 0.625rem 0.625rem 0 0;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.top-item {
  position: relative;
}

.top-item__bg {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 82.4137931034%;
  background-color: rgb(250, 250, 250);
  border-radius: 1.5625rem 1.5625rem 0.625rem 0.625rem;
  -webkit-box-shadow: 0rem 0rem 0.3125rem rgba(246, 151, 63, 0.4);
          box-shadow: 0rem 0rem 0.3125rem rgba(246, 151, 63, 0.4);
}

.top-item__image {
  position: relative;
  width: 100%;
  padding: 0 0 108.2089552239%;
}

.top-item__image img {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: 88.8888888889%;
  height: 86.2068965517%;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.top-item__image .big {
  width: 88.8888888889%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}

.bottom-item {
  font-weight: 600;
}

.bottom-item__caption {
  font-size: 17;
  line-height: 1.4117647059;
  color: rgb(141, 141, 141);
}

.bottom-item__caption:not(:last-child) {
  margin-bottom: 0.375rem;
}

.bottom-item__title {
  font-size: 1.3125rem;
  line-height: 1.4761904762;
  text-transform: capitalize;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.bottom-item__title:not(:last-child) {
  margin-bottom: 1.875rem;
}

.bottom-item__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bottom-item__price-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.1875rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bottom-item__price-icon {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  font-size: 0.9375rem;
  line-height: 1.4666666667;
}

.bottom-item__price-value {
  font-size: 1.3125rem;
  line-height: 1.4761904762;
}

.bottom-item__price-add {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 3.125rem;
          flex: 0 0 3.125rem;
  height: 3.125rem;
  border-radius: 50%;
  background-color: rgb(246, 151, 63);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  position: relative;
  z-index: 100;
}

.bottom-item__price-add::before {
  content: "";
  display: inline-block;
  background: url("../img/products/plus.svg") 0 0 no-repeat;
  width: 1.25rem;
  height: 1.25rem;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.button-next,
.button-prev {
  width: 3.125rem;
  height: 3.125rem;
  position: absolute;
  z-index: 10;
  top: 34%;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.button-next::before,
.button-prev::before {
  font-size: 1.625rem;
}

.button-next {
  right: 0;
}

.button-next::before {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.button-prev {
  left: 0;
}

.start__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: calc(
			0.625rem + 20 * ((100vw - 20rem) / (1440 - 320))
		);
     -moz-column-gap: calc(
			0.625rem + 20 * ((100vw - 20rem) / (1440 - 320))
		);
          column-gap: calc(
			0.625rem + 20 * ((100vw - 20rem) / (1440 - 320))
		);
}

.start__block-body:not(:last-child) {
  margin-bottom: calc(
			1.875rem + 20 * ((100vw - 20rem) / (1440 - 320))
		);
}

.start__image {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40.5833333333%;
          flex: 0 0 40.5833333333%;
  border-radius: 0.9375rem;
  overflow: hidden;
  min-height: 12.5rem;
}

.start__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.body-start {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (auto)[2];
  grid-template-rows: repeat(2, auto);
  gap: calc(
			1.25rem + 40 * ((100vw - 20rem) / (1440 - 320))
		);
}

.item-body-start__icon {
  width: 1.875rem;
  height: 1.875rem;
}

.item-body-start__icon:not(:last-child) {
  margin-bottom: 1.0625rem;
}

.item-body-start__caption {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.4583333333;
}

.item-body-start__caption:not(:last-child) {
  margin-bottom: 0.3125rem;
}

.item-body-start__text {
  opacity: 0.7;
}

.collections__container {
  text-align: center;
}

.collections__title {
  max-width: 44.8125rem;
  margin: 0 auto;
}

.collections__title:not(:last-child) {
  margin-bottom: 0.625rem;
}

.collections__text {
  max-width: 33.4375rem;
  margin: 0 auto;
}

.collections__text:not(:last-child) {
  margin-bottom: 3.6875rem;
}

.collections__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 44.8125rem;
  margin: 0 auto;
  -webkit-column-gap: calc(
			0.9375rem + 24 * ((100vw - 20rem) / (1440 - 320))
		);
     -moz-column-gap: calc(
			0.9375rem + 24 * ((100vw - 20rem) / (1440 - 320))
		);
          column-gap: calc(
			0.9375rem + 24 * ((100vw - 20rem) / (1440 - 320))
		);
  row-gap: 0.625rem;
}

.collections__buttons:not(:last-child) {
  margin-bottom: 3.125rem;
}

.collections__button {
  position: relative;
  font-size: 1.125rem;
  line-height: 1.4444444444;
  color: rgb(29, 31, 35);
  position: relative;
  padding: 0.3125rem;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.collections__button.mixitup-control-active {
  color: rgb(255, 255, 255);
}

.collections__button.mixitup-control-active::before {
  background-color: rgb(29, 31, 35);
}

.collections__button::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 120%;
  height: 100%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 3.125rem;
  z-index: -1;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.collections__items {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16.875rem, 1fr));
  -webkit-column-gap: calc(
			1.25rem + 20 * ((100vw - 20rem) / (1440 - 320))
		);
     -moz-column-gap: calc(
			1.25rem + 20 * ((100vw - 20rem) / (1440 - 320))
		);
          column-gap: calc(
			1.25rem + 20 * ((100vw - 20rem) / (1440 - 320))
		);
  row-gap: 1.25rem;
}

.what {
  position: relative;
  background-color: rgb(29, 31, 35);
  overflow: hidden;
}

.what__decor {
  position: absolute;
  left: 10.1388888889%;
  top: -20.8333333333%;
  -webkit-transform: rotate(-30deg);
      -ms-transform: rotate(-30deg);
          transform: rotate(-30deg);
  width: 10.75rem;
  height: 56.0625rem;
}

.what__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0.9375rem;
}

.what__block {
  min-width: 0;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  color: rgb(255, 255, 255);
  padding-top: calc(
			0rem + 55 * ((100vw - 20rem) / (1440 - 320))
		);
}

.what__image-ibg {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40.6666666667%;
          flex: 0 0 40.6666666667%;
  padding: 0 0 38.5% 0;
}

.what__title {
  max-width: 32.3125rem;
}

.what__title:not(:last-child) {
  margin-bottom: 3.1875rem;
}

.what__slide {
  margin-bottom: 1.875rem;
}

.what__slide-user:not(:last-child) {
  margin-bottom: 1.25rem;
}

.what__slide-text {
  max-width: 23.9375rem;
}

.user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.9375rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user__icon {
  display: inline-block;
  border-radius: 50%;
  width: 3.125rem;
  height: 3.125rem;
}

.user__data-name {
  display: inline-block;
  font-weight: 700;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.user__data-name:not(:last-child) {
  margin-bottom: 0.3125rem;
}

.user__data-work {
  opacity: 0.7;
  font-size: 0.875rem;
  line-height: 1.4285714286;
}

.what-button-next,
.what-button-prev {
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 50%;
  background-color: rgb(49, 49, 54);
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.what-button-next::before,
.what-button-prev::before {
  font-size: 0.75rem;
  color: rgb(255, 255, 255);
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.what-button-next {
  margin-left: 0.3125rem;
}

.what-button-prev {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
  margin-right: 0.3125rem;
}

.contact__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0.9375rem;
}

.contact__title {
  max-width: 45.4375rem;
}

.contact__btn {
  max-width: 12.5625rem;
}

@media screen and (min-width: 47.99875em) {
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-column-gap: 3.125rem;
       -moz-column-gap: 3.125rem;
            column-gap: 3.125rem;
    row-gap: 0.3125rem;
  }

  .header__burger {
    display: none;
  }
}

@media screen and (min-width: 61.99875em) {
  .item-body-start {
    max-width: 14.6875rem;
  }
}

@media screen and (min-width: 55em) {
  .footer__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 6.625rem;
            flex: 0 0 6.625rem;
  }
}

@media screen and (max-width: 55em) {
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1.5625rem;
  }
}

@media (max-width: 76.875em) {
  .title {
    font-size: calc(
				2.25rem + 12 * ((100vw - 20rem) / (1230 - 320))
			);
  }

  .btn {
    padding-top: calc(
				0.875rem + 2 * ((100vw - 20rem) / (1230 - 320))
			);
  }

  .btn {
    padding-bottom: calc(
				0.875rem + 2 * ((100vw - 20rem) / (1230 - 320))
			);
  }

  .header__wrapper {
    padding-top: calc(
				0.625rem + 16 * ((100vw - 20rem) / (1230 - 320))
			);
  }

  .header__wrapper {
    padding-bottom: calc(
				0.625rem + 16 * ((100vw - 20rem) / (1230 - 320))
			);
  }

  .header__block {
    -webkit-column-gap: calc(
				1.25rem + 16 * ((100vw - 20rem) / (1230 - 320))
			);
       -moz-column-gap: calc(
				1.25rem + 16 * ((100vw - 20rem) / (1230 - 320))
			);
            column-gap: calc(
				1.25rem + 16 * ((100vw - 20rem) / (1230 - 320))
			);
  }

  .search__container {
    padding-top: calc(
				0.625rem + 40 * ((100vw - 20rem) / (1230 - 320))
			);
  }

  .search__container._active {
    padding-bottom: calc(
				0.625rem + 40 * ((100vw - 20rem) / (1230 - 320))
			);
  }

  .search__body-top:not(:last-child) {
    margin-bottom: calc(
				0.625rem + 30 * ((100vw - 20rem) / (1230 - 320))
			);
  }

  .search__body-top-title {
    font-size: calc(
				1.375rem + 14 * ((100vw - 20rem) / (1230 - 320))
			);
  }

  .search__body-top-close:before {
    font-size: calc(
				1.125rem + 6 * ((100vw - 20rem) / (1230 - 320))
			);
  }

  .body-form__input {
    min-height: calc(
				2.5rem + 12 * ((100vw - 20rem) / (1230 - 320))
			);
  }

  .body-form__input {
    font-size: calc(
				1.5rem + 12 * ((100vw - 20rem) / (1230 - 320))
			);
  }

  .body-form__input::-webkit-input-placeholder {
    font-size: calc(
				1.5rem + 12 * ((100vw - 20rem) / (1230 - 320))
			);
  }

  .body-form__input::-moz-placeholder {
    font-size: calc(
				1.5rem + 12 * ((100vw - 20rem) / (1230 - 320))
			);
  }

  .body-form__input:-ms-input-placeholder {
    font-size: calc(
				1.5rem + 12 * ((100vw - 20rem) / (1230 - 320))
			);
  }

  .body-form__input::-ms-input-placeholder {
    font-size: calc(
				1.5rem + 12 * ((100vw - 20rem) / (1230 - 320))
			);
  }

  .body-form__input::placeholder {
    font-size: calc(
				1.5rem + 12 * ((100vw - 20rem) / (1230 - 320))
			);
  }

  .body-form__btn {
    min-height: calc(
				2.5rem + 12.8 * ((100vw - 20rem) / (1230 - 320))
			);
  }

  .header__burger {
    margin-left: calc(
				0.625rem + 16 * ((100vw - 20rem) / (1230 - 320))
			);
  }

  .footer {
    padding-top: calc(
				1.875rem + 15 * ((100vw - 20rem) / (1230 - 320))
			);
  }

  .footer {
    padding-bottom: calc(
				1.875rem + 15 * ((100vw - 20rem) / (1230 - 320))
			);
  }

  .menu-footer__list {
    -webkit-column-gap: calc(
				0.9375rem + 30 * ((100vw - 20rem) / (1230 - 320))
			);
       -moz-column-gap: calc(
				0.9375rem + 30 * ((100vw - 20rem) / (1230 - 320))
			);
            column-gap: calc(
				0.9375rem + 30 * ((100vw - 20rem) / (1230 - 320))
			);
  }

  .page__offer {
    padding-bottom: calc(
				0.625rem + 40 * ((100vw - 20rem) / (1230 - 320))
			);
  }

  .page__collections {
    padding-top: calc(
				1.875rem + 70 * ((100vw - 20rem) / (1230 - 320))
			);
  }

  .page__collections {
    padding-bottom: calc(
				1.875rem + 25 * ((100vw - 20rem) / (1230 - 320))
			);
  }

  .page__what {
    padding-top: calc(
				1.875rem + 40 * ((100vw - 20rem) / (1230 - 320))
			);
  }

  .page__what {
    padding-bottom: calc(
				1.875rem + 40 * ((100vw - 20rem) / (1230 - 320))
			);
  }

  .page__contact {
    padding-top: calc(
				1.875rem + 70 * ((100vw - 20rem) / (1230 - 320))
			);
  }

  .page__contact {
    padding-bottom: calc(
				1.875rem + 70 * ((100vw - 20rem) / (1230 - 320))
			);
  }

  .body-offer {
    padding-top: calc(
				1.25rem + 100 * ((100vw - 20rem) / (1230 - 320))
			);
  }

  .item-products__bottom {
    padding-bottom: calc(
				1.25rem + 38 * ((100vw - 20rem) / (1230 - 320))
			);
  }

  .item-products__bottom {
    padding-left: calc(
				0.625rem + 11 * ((100vw - 20rem) / (1230 - 320))
			);
  }

  .item-products__bottom {
    padding-right: calc(
				0.625rem + 11 * ((100vw - 20rem) / (1230 - 320))
			);
  }

  .collections__text:not(:last-child) {
    margin-bottom: calc(
				1.875rem + 29 * ((100vw - 20rem) / (1230 - 320))
			);
  }

  .collections__buttons:not(:last-child) {
    margin-bottom: calc(
				1.875rem + 20 * ((100vw - 20rem) / (1230 - 320))
			);
  }
}

@media screen and (max-width: 61.99875em) {
  .offer__bg-ibg {
    background-position: right;
  }

  .start__container {
    padding-bottom: 1.25rem;
  }

  .start__image {
    position: absolute;
    right: 0;
    top: 0;
    opacity: 0.3;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  .start__image img {
    -o-object-position: 0% 80%;
       object-position: 0% 80%;
  }

  .body-start {
    padding-top: 1.25rem;
  }

  .item-body-start__text {
    opacity: 1;
  }
}

@media screen and (max-width: 56.37375em) {
  .contact__container {
    display: block;
  }

  .contact__title {
    min-width: 100%;
  }

  .contact__title:not(:last-child) {
    margin-bottom: 1.5625rem;
  }
}

@media screen and (max-width: 53.12375em) {
  .what__container {
    display: block;
  }

  .what__block {
    margin-bottom: 1.875rem;
  }

  .what__image-ibg {
    padding: 0 0 94% 0;
  }

  .what__title {
    margin: 0 auto;
    text-align: center;
  }

  .what__slide-body {
    max-width: 23.9375rem;
    margin: 0 auto;
  }

  .what-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 47.99875em) {
  .header__block {
    margin-left: auto;
  }

  .menu__body {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 7.5rem 0 2.5rem;
    padding-top: 7.5rem;
    margin-left: auto;
    background-color: #f6973f;
    overflow: auto;
    -webkit-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s;
    -o-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s;
  }

  .menu__body:before {
    content: "";
    display: block;
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 5rem;
    background-color: #f6973f;
    -webkit-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s;
    -o-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s;
  }

  .menu__item {
    padding-bottom: 1.25rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-right: 0.9375rem;
    -webkit-transform: translate(100%, 0);
        -ms-transform: translate(100%, 0);
            transform: translate(100%, 0);
    opacity: 0;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
  }

  .menu__link {
    font-size: 1.5rem;
    opacity: 1;
    letter-spacing: normal;
    text-transform: uppercase;
  }

  .body-basket {
    padding: 0.75rem;
  }
}

@media screen and (max-width: 47.99875em) and (max-width: 76.875em) {
  .menu__body {
    padding-top: calc(
				5.625rem + 30 * ((100vw - 20rem) / (1230 - 320))
			);
  }
}

@media screen and (max-width: 35.12375em) {
  .body-start {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }
}

@media screen and (max-width: 29.99875em) {
  .btn {
    max-width: 100%;
  }

  .body-basket {
    padding: 0.625rem;
    min-width: 100%;
  }

  .body-basket__btn {
    max-width: 100%;
  }

  .offer__bg-ibg {
    opacity: 0.8;
  }

  .start__block-btn {
    max-width: 100%;
  }

  .item-body-start {
    text-align: center;
  }

  .item-body-start__icon {
    margin: 0 auto;
  }

  .contact__container {
    text-align: center;
  }

  .contact__btn {
    min-width: 100%;
  }
}

@media screen and (min-width: 47.99875em) and (max-width: 76.875em) {
  .menu__list {
    -webkit-column-gap: calc(
				0.625rem + 40 * ((100vw - 20rem) / (1230 - 320))
			);
       -moz-column-gap: calc(
				0.625rem + 40 * ((100vw - 20rem) / (1230 - 320))
			);
            column-gap: calc(
				0.625rem + 40 * ((100vw - 20rem) / (1230 - 320))
			);
  }
}

@media (any-hover: hover) {
  .btn:hover {
    text-shadow: 0.03125rem 0.03125rem rgb(29, 31, 35), -0.03125rem 0.03125rem rgb(29, 31, 35), 0.03125rem -0.03125rem rgb(29, 31, 35), -0.03125rem -0.03125rem rgb(29, 31, 35);
  }

  .btn--orange:hover {
    background-color: #f47d0e;
  }

  .btn--red:hover {
    background-color: #eb142e;
  }

  .menu__item:hover .menu__link {
    opacity: 1;
  }

  .search__btn:hover::before {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
    color: rgb(246, 151, 63);
  }

  .search__body-top-close:hover::before {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
    color: rgb(246, 151, 63);
  }

  .body-form__btn:hover::before {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
    color: rgb(246, 151, 63);
  }

  .basket__icon:hover::before {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
    color: rgb(246, 151, 63);
  }

  .basket__icon:hover .basket__quantity {
    background-color: rgb(29, 31, 35);
  }

  .body-basket__close:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }

  .item-basket__delete:hover {
    color: red;
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
  }

  .item-products:hover .top-item__image img {
    -webkit-transform: scale(1.05) translate(-50%, 5%);
        -ms-transform: scale(1.05) translate(-50%, 5%);
            transform: scale(1.05) translate(-50%, 5%);
  }

  .bottom-item__title:hover {
    color: rgb(246, 151, 63);
  }

  .bottom-item__price-add:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
    background-color: #f47d0e;
  }

  .bottom-item__price-add:hover:before {
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
  }

  .button-next:hover,
  .button-prev:hover {
    background-color: rgb(246, 151, 63);
  }

  .collections__button:hover {
    color: rgb(246, 151, 63);
  }

  .user__data-name:hover {
    color: rgb(246, 151, 63);
  }

  .what-button-next:hover,
  .what-button-prev:hover {
    background-color: rgb(255, 255, 255);
  }

  .what-button-next:hover::before,
  .what-button-prev:hover::before {
    color: rgb(29, 31, 35);
  }
}